{% extends "base-email.html.twig" %}

{% block body %}
    <h1>Message venant du formulaire de contact</h1>
    <pre>{{ message }}</pre>
    <i>Message reçu de {{ firstname }} {{ lastname }}</i>
{% endblock %}