{% extends "base-email.html.twig" %}

{% block body %}
    <h1>Bonjour {{ prenom }} {{ nom }}</h1>

       <p>Votre demande a bien été prise en compte.
           Lorsqu'une session de recrutement sera ouverte,
           vous recevrez un email avec un lien sur lequel candidater afin de participer à une réunion d'information,
           tests et entretien.</p>
{% endblock %}
