{% extends "base-email.html.twig" %}

{% block body %}
    <h1>Redéfinition du mot de passe</h1>
    <b>Nom d'utilisateur : </b>{{ username }}<br>
    <b>Email du compte : </b>{{ email }}<br>
    <p>Cliquez sur le lien ci-dessous pour renouveler votre mot de passe : </p>
    <a href="{{ url }}">Renouveler mot de passe</a>
{% endblock %}