{% extends "base-email.html.twig" %}

{% block body %}
    <h1>Voici les informations concernant votre compte</h1>
    <b>Nom d'utilisateur : </b>{{ username }}<br>
    <b>E-mail du compte : </b>{{ email }}<br>
    {% if password is defined %}
    <b>Mot de passe : </b>{{ password }}<br>
        {% endif %}
    <b>Droit : </b>{{ role }}<br>
    <p>Rendez-vous <a href="http://127.0.0.1:8000/login">ici</a> pour vous connecter à l'interface du back-office</p>
{% endblock %}