<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/formBackUser.css">
    <title>Connexion admin</title>
</head>
<body>
    {% block stylesheets %}
    
    {% endblock %}
    {% block body %}
        <!-- formulaire de connection admin -->
        <div class="container">
            <div class="row justify-content-center">
                <div id="containerBack" class="row align-items-center">
                    <form action="{{ path('login') }}" method="post">
                        <div id="title">
                            <h1 class="display-3">Connexion à l'espace d'administration</h1>
                        </div>
                        <!-- message d'erreur -->
                        {% if error %}
                        <div id="alertUser" class="alert alert-danger">
                            <span class="far fa-times-circle fa-5x"></span><br>
                            {{ "identifiant et/ou mot de passe incorrect"|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <div class="container" id="formContainer">
                            <!-- idnetifiant input -->
                            <div>
                                <label for="_username">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="username" name="_username" placeholder="Username"/>
                            </div>
                            <!-- password input -->
                            <div>
                                <label for="_password">Mot de passe</label>
                                <input type="password" class="form-control" id="password" name="_password" placeholder="password" />
                                <a id="mdpforgot" href="{{ path('forgot_password') }}">Mot de passe oublié ?</a>
                            </div>
                            <!-- button connection -->
                            <div>
                                <button id="btnlogin" type="submit" class="btn btn-block">Connexion</button>
                            </div>
                        </div>
                        <!-- security protocol -->
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
            
        </div>
        
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>

 {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}
                    {# Input a mettre pour la sauvegarde des cookies en session, fonctionne pas..#}
                    {#<input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi</label>#}
