{% extends "base-backoffice.html.twig" %}

{% block title %}
    Changer Mot de Passe - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/param-compte/change-password.css">
{% endblock %}

{% block body %}
{% if change is defined %}
    <div class="alert alert-success" role="alert">
        Mot de passe changé !
    </div>
{% elseif notchange is defined %}
    {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

    {{ form(formChange) }}
    
    {% for error in msgError %}
        <div class="alert alert-danger" role="alert">
            <p>{{ error }}</p>
        </div>
    {% endfor %}
{% else %}
    <h1 class="display-4"> Changer le mot de passe du compte </h1>
    {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

    {{ form(formChange) }}    
{% endif %}
{% endblock %}
