{% extends "base-actu.html.twig" %}

{% block title %}
    Numéricall-actualités de septembre 2017
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-pages-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Septembre 2017</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <article class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="container box-item">
                        <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2016/10/Lu1.jpeg" alt="Formation-Numericall-Webforce3-Luxembourg-Piennes">
                        <div class="row align-items-center items">
                            <div class="col-6 link">
                                <a href="/art110917"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-6 zoom">
                                <a href="https://www.numericall.fr/wp-content/uploads/2016/10/Lu1.jpeg" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title2 mt-md-0">
                        <a href="/art110917"> <h2>Prochaine réunion d’information: Formation Développeur WebForce3</h2> </a>
                        <div class="animate"></div>
                    </div>
                    <span>11 septembre 2017</span>
                    <p> La réunion d'information collective pour la prochaine session de formation Webforce3 se tiendra le 10 octobre 2017 à 14h00
                        dans les locaux de Pôle Emploi : Agence Pôle Emploi BRIEY-JARNY 2 rue de [...]</p>
                </div>
                <div class="read-more">
                    <a href="/art110917">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </article>

        <article class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="container box-item">
                        <img class="img-fluid" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/23592010_921248464698184_5653716488071032486_o.jpg?oh=9aba30af9d21553d4534f05fb8581b82&oe=5AE4215D" alt="23592010_921248464698184_5653716488071032486_o">
                        <div class="row align-items-center items">
                            <div class="col-6 link">
                                <a href="/art070917"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-6 zoom">
                                <a href="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/23592010_921248464698184_5653716488071032486_o.jpg?oh=9aba30af9d21553d4534f05fb8581b82&oe=5AE4215D" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title2 mt-md-0">
                        <a href="/art070917"> <h2>Piennes : Session WF3 Agefos, 6 Novembre 2017 au 7 Février 2018</h2> </a>
                        <div class="animate"></div>
                    </div>
                    <span>7 septembre 2017</span>
                    <p> La deuxième session de formation de développeur et d’intégrateur web commencera le 6 Novembre 2017 au Campus numérique de
                        Piennes. Au programme, HTML, CSS, PHP, MySQL, Angular, Cordova, Git et bien d’autres choses [...]</p>
                </div>
                <div class="read-more">
                    <a href="/art070917">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </article>

        <article class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="container box-item">
                        <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval.jpg" alt="wf3-new-session-s6-esch-belval">
                        <div class="row align-items-center items">
                            <div class="col-6 link">
                                <a href="/art070917esch"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-6 zoom">
                                <a href="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval.jpg" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title2 mt-md-0">
                        <a href="/art070917esch"> <h2>Esch Technoport : day one – S6</h2> </a>
                        <div class="animate"></div>
                    </div>
                    <span>7 septembre 2017</span>
                    <p> Premier jour de la 6ieme session à Esh</p>
                </div>
                <div class="read-more">
                    <a href="/art070917esch">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </article>

    </section>
{% endblock %}