{% extends "base-actu.html.twig" %}

{% block title %}
    Actualités de janvier 2018 - Numericall
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="/assets/css/actu-pages-style.css">
{% endblock %}

{% block body1 %}
<!-- titre de page -->
<div class=" container-fluid" id="title1">
    <div class="row">
        <div class="col-12"><h1>Janvier 2018</h1></div>
    </div>
</div>
{% endblock %}

{% block body2 %}
<section class="col-lg-9" id="articles">

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="assets/img/actu/05-01-18.png" alt="Screen-Shot-2018-01-04-at-11.45.32">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="{{ path('article050118_page') }}"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="assets/img/actu/05-01-18.png" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="{{ path('article050118_page') }}"> <h2>Fit4CodingJobs Session 1 Day One au Technoport</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>5 janvier 2018</span>
                <p> NumericALL innove à nouveau au Luxembourg, toujours en partenariat avec l'Adem et le FSE, en lançant Fit4CodingJobs, qui
                    propose désormais le programme de développeur-intégrateur web de 490 heures intégralement [...]</p>
            </div>
            <div class="read-more">
                <a href="{{ path('article050118_page') }}">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

</section>
{% endblock %}