{% extends "base-actu.html.twig" %}

{% block title %}
    Actualités de novembre 2017 - Numericall
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="/assets/css/actu-pages-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Novembre 2017</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <article class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <div class="container box-item">
                        <img class="img-fluid" src="assets/img/actu/28-11-17.png" alt="numericall-logo">
                        <div class="row align-items-center items">
                            <div class="col-6 link">
                                <a href="{{ path('article281117_page') }}"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-6 zoom">
                                <a href="assets/img/actu/28-11-17.png" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="title2 mt-md-0">
                        <a href="{{ path('article281117_page') }}"> <h2>Réunion info WebForce3 13 décembre 2017 à l’ADEM 9H</h2> </a>
                        <div class="animate"></div>
                    </div>
                    <span>28 novembre 2017</span>
                    <p> Le 13 décembre à 9 heures nous présenterons la nouvelle formation @WebForce3, Fit4CodingJobs, à l'ADEM, 13 rue Bender, Luxembourg.
                        Une formation de 490 heures de développeur - intégrateur web. Pour vous [...]</p>
                </div>
                <div class="read-more">
                    <a href="{{ path('article281117_page') }}">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </article>

    </section>
{% endblock %}