{% extends "base-backoffice.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/select-waiting-list.css">
{% endblock %}

{% block title %}
    Créer Réunion - Numericall
{% endblock %}

{% block body %}
    <h1 class="display-4">Selection de la liste d'attente selon le campus</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 col-xs-6">
                {{ form_start(formSelectWaitingList, {'attr': {'class': 'form-group'}}) }}
                <div class="form-group">
                    {{ form_widget(formSelectWaitingList.locality, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(formSelectWaitingList.save, {'attr': {'class': 'btn btn-secondary btn-block'}}) }}

                {{ form_end(formSelectWaitingList) }}
            </div>
        </div>
    </div>

{% endblock %}