{% extends "base-backoffice.html.twig" %}

{% block title %}
    Ajout d'une question - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/add-faq/add-faq-form.css">
{% endblock %}

{% block body %}
    {% if change is defined %}
        <div class="alert alert-success" role="alert">
            Question ajoutée<br>
        </div>
    {% elseif notchange is defined %}
        <h1 class="display-4"> Ajouter une question/réponse </h1>

        {% form_theme formFaq 'bootstrap_4_layout.html.twig' %}
        {{ form(formFaq) }}

        {% endif %}
            {% endblock %}