{% extends "base-backoffice.html.twig" %}

{% block title %}
    Supprimer Administrateur - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/gestion-admin/delete-user.css">
{% endblock %}

{% block body %}
{% if change is defined %}
    <div class="alert alert-success" role="alert">
        Utilisateur supprimé !
    </div>
{% elseif notchange is defined %}
    <h1 class="display-4"> Supprimer le compte d'un administrateur </h1>
    {% if notEmpty is defined %}
        {% form_theme formDeleteUser 'bootstrap_4_layout.html.twig' %}

        {{ form(formDeleteUser) }}
    {% endif %}
    {% if notfound is defined %}
        <div class="alert alert-danger" role="alert">
            <p>Problème lors de l'execution de la requête</p>
        </div>
    {% endif %}
{% endif %}
{% endblock %}