{% extends 'base.html.twig' %}

{% block body %}
    {% if change is defined %}
<div>Mdp changé !<br>
    Stylise moi stpppp!</div>
{% elseif notchange is defined %}
        {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

        {{ form(formChange) }}
        <p>mot de passe doivent être identique</p>
{% else %}
        {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

        {{ form(formChange) }}    {% endif %}
{% endblock %}
