{% extends "base-backoffice.html.twig" %}

{% block body %}
    {% if change is defined %}
<div>Mdp changé !<br>
    Stylise moi stpppp!</div>
{% elseif notchange is defined %}
        {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

        {{ form(formChange) }}
      {% for error in msgError %}
          {{ error }}
      {% endfor %}

{% else %}
        {% form_theme formChange 'bootstrap_4_layout.html.twig' %}

        {{ form(formChange) }}    {% endif %}
{% endblock %}
