<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/faq.css">
</head>

<body>

<h2>< Foire aux Questions ></h2>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
        Quelle est la date de la prochaine session de formation ?
    </a>
</p>
<div class="answer" id="collapse1">
    <p>La réponse kjfdshfgv kjdshlkesngvlsk ghiuehgliu rehungoueskvln cuekrhneurshgk vsksdjhgvsikdunkdf!</p>
</div>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
        La question ?
    </a>
</p>
<div class="answer" id="collapse2">
    <p>La réponse !</p>
</div>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
        La question ?
    </a>
</p>
<div class="answer" id="collapse3">
    <p>La réponse !</p>
</div>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
        La question ?
    </a>
</p>
<div class="answer" id="collapse4">
    <p>La réponse !</p>
</div>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
        La question ?
    </a>
</p>
<div class="answer" id="collapse5">
    <p>La réponse !</p>
</div>

<p>
    <a class="btn" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
        La question ?
    </a>
</p>
<div class="answer" id="collapse6">
    <p>La réponse !</p>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

</body>

</html>