{% extends "base.html.twig" %}

{% block title %}
    Foire aux questions - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/faq.css">
{% endblock %}

{% block body %}

<!-- titre de page -->
<div class=" container-fluid" id="title1">
    <div class="row">
        <div class="col-12"><h1>F.A.Q</h1></div>
    </div>
</div>

<h2>< Foire aux Questions ></h2>

<div class="container">
    <p>
        <a class="question" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
            Comment recrutez-vous ?
        </a>
    </p>
    <div class="answer faq-response" id="collapse1">
        <p>Mauris feugiat sapien augue, ac efficitur neque blandit vitae. Maecenas iaculis ultricies tristique. Vestibulum eget convallis nisl. Mauris tristique malesuada lorem ac volutpat. Donec semper mauris in nunc viverra, vel vestibulum arcu blandit. Suspendisse a cursus elit. </p>
    </div>
</div>

<div class="container">
    <p>
        <a class="question" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
            Quelle est la prochaine date de réunion d'information ?
        </a>
    </p>
    <div class="answer faq-response" id="collapse2">
        <p>Aenean tempus turpis arcu, vel venenatis quam porta in. Integer sollicitudin tellus dui, in lobortis ex varius in. Ut malesuada tortor ut justo ullamcorper commodo.</p>
    </div>
</div>

<div class="container">
    <p>
        <a class="question" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
            Quels sont les modes de financement ?
        </a>
    </p>
    <div class="answer faq-response" id="collapse3">
        <p>Fusce nisi ante, finibus sagittis diam in, imperdiet maximus purus. Aliquam finibus quis dolor iaculis convallis. Morbi varius turpis nec orci pulvinar luctus.</p>
    </div>
</div>

<div class="container">
    <p>
        <a class="question" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
            Est-ce pour tout le monde ?
        </a>
    </p>
    <div class="answer faq-response" id="collapse4">
        <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla elementum quam non sollicitudin gravida.</p>
    </div>
</div>

<div class="container">
    <p>
        <a class="question" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
            Y a-t-il des prérequis ?
        </a>
    </p>
    <div class="answer faq-response" id="collapse5">
        <p>Donec consectetur risus at lacinia gravida. Vivamus eros orci, faucibus quis pellentesque eget, consequat eu neque.</p>
    </div>
</div>
{% endblock %}