{% extends 'base.html.twig' %}

{% block body %}
    Bienvenue {{ user }} dans la partie administration.
    <a href="{{ path('logout') }}">Deconnexion</a>
    <a href="{{ path('change_password') }}">Changer mot de passe</a>
    {{ app.user.username }}
{% endblock %}