{% extends "base-backoffice.html.twig" %}

{% block body %}
    Creer une nouvelle réunion d'information. <br>
    Selectionner les personnes sur liste d'attente pour les mails.
    <a href="{{ path('logout') }}">Deconnexion</a>
{% endblock %}