{% extends "base-backoffice.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/enter-note.css">
{% endblock %}

{% block title %}
    Note candidat - Numericall
{% endblock %}

{% block body %}

    <h1 class="display-4">Insertion de la note des candidats et selection entretiens</h1>

    {% if formNote is defined %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 col-xs-6">
                        {{ form_start(formNote, {'attr': {'class': 'form-group'}}) }}
                        <div class="form-group">
                            {{ form_widget(formNote.select, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(formNote) }}
                </div>
            </div>
        </div>

        <div id="tab-and-form-container">
            {# C'est ici qu'est placé le tableau généré depuis ajax#}
        </div>
    {% endif %}

{% endblock %}

{%block javascripts %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="/assets/js/note.js"></script>
 {%endblock%}