{#
    Génération de l'affichage lorsqu'une réunion est selectionnée
#}

<div id="page-container" class="container">

    <div class="row justify-content-around">
        <div class="col-md-12 block-note-title">
            <a id="note-candidat" class="link-note-title" data-toggle="collapse" href="#multiCollapse1" aria-expanded="false" aria-controls="multiCollapseExample1">
                <h5>Ajouter note candidat</h5>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="collapse mt-4" id="multiCollapse1">
                {% if reunion is defined %}
                <form name="form-group" action="{{ path('save_note') }}" method="post" id="note-formu">
                    <table class="table table-bordered table-light">
                        <thead>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Note</th>
                        </thead>
                        <tbody>
                        {#

                        //On parcours la liste des candidats et on affiche leur nom, prénom puis un champs input
                        //pour pouvoir entrer leur note
                        //La soumission du formulaire appelle la route save_note pour mettre a jour la bdd

                        #}
                        {% for candidat in candidats %}
                            <tr>
                                <td style="text-align: center;">{{ candidat.firstName }}</td>
                                <td style="text-align: center;">{{ candidat.lastName }}</td>
                                <td style="width: 100px;">
                                        <input class="form-control" id="input-note" type="number" name="{{ candidat.id }}"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" id="send-note" class="btn btn-secondary my-3">Envoyer</button>
                </form>
                <p id="note-saved"></p>
                {% endif %}
            </div>
        </div>
    </div>

    {#
        Formulaire de saisie de la note minimale a avoir afin d'etre selectionné pour les entretiens
    #}
    <div class="row justify-content-around">
        <div class="col-md-12 styleblock block-note-title">
            <a  id="select-candidat" class="link-note-title" data-toggle="collapse" href="#multiCollapse2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <h5>Selection des candidats par la note pour entretien</h5>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="collapse mt-3" id="multiCollapse2">
                <form name="form-group" method="post" id="note-ref-formu">
                    {% if reunion is defined %}
                        <div class="row justify-content-start pl-3">
                            <label for="note-ref" class="pt-2 pr-2">Note minimale : </label>
                            <input class="form-control" type="number" name="note-ref" id="note-ref"/>
                        </div>
                            <button type="submit" id="send-note-ref" class="btn btn-secondary my-3">Selectionner</button>
                    {% endif %}
                </form>
                <div id="note-checked"></div>
            </div>
        </div>
    </div>

</div>
