{% extends 'base.html.twig' %}

{% block redirectionPage %}
    <meta http-equiv="refresh" content="5; url={{ path('inscription_waitlist') }}">
{% endblock %}

{% block body %}
    <p>Votre demande a été pris en compte.
        Vous allez recevoir un e-mail prochainement lorsqu'une réunion d'information sera créée</p>
{% endblock %}