/* debug :
main { background-color: rgb(255, 0, 221); }
div { background-color: pink; }
section { background-color: green; }
article { background-color: yellow; }
aside { background-color: rgb(80, 80, 230); } */








.main-actu {
    margin-right: 5%;
    margin-left: 5%;
}

/* pour le bouton actu du header */
.menubtn-actu {
    background-color: #da1816;
}








/* block du titre de page (1er block) **************************/
/* ********************************************************** */
#title1 { 
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* *********************************************************** */
/* ********************************************************** */








/* ancre article suivant et précédent************************* */
/* ********************************************************** */
#articles div.previous-next-border {
    margin-top: 4em;
    border-top: solid 1px rgb(143, 143, 143);
    border-bottom: solid 1px rgb(143, 143, 143);
    padding: 5px 0 5px 0;
}

#articles div.previous {
    overflow: hidden;
    width: 139px;
}

#articles div.previous a {
    text-decoration: none;
    color: #da1816;
    transition: all 0.2s ease;
}
#articles div.previous:hover a,
#articles div.previous:focus a,
#articles div.previous:active a {
    color: #2a2a2a;
}

#articles div.previous div.animate {
    border-bottom: double 3px #da1816;
    position: relative;
    left: -100%;
    transition: all 0.2s ease;
}
#articles div.previous:hover div.animate,
#articles div.previous:focus div.animate,
#articles div.previous:active div.animate {
    left: 0;
    border-color: #2a2a2a;
}


#articles div.next {
    overflow: hidden;
    width: 120px;
}

#articles div.next a {
    text-decoration: none;
    color: #da1816;
    transition: all 0.2s ease;
}
#articles div.next:hover a,
#articles div.next:focus a,
#articles div.next:active a {
    color: #2a2a2a;
}

#articles div.next div.animate {
    border-bottom: double 3px #da1816;
    position: relative;
    left: 100%;
    transition: all 0.2s ease;
}
#articles div.next:hover div.animate,
#articles div.next:focus div.animate,
#articles div.next:active div.animate {
    left: 0;
    border-color: #2a2a2a;
}
/* *********************************************************** */
/* ********************************************************** */








/* block des articles ******************************************/
/* ********************************************************** */
#articles article {
    margin-top: 4em;
    border-bottom: solid 1px rgb(143, 143, 143);
}

#articles article>div {
    margin-bottom: 10px;
}

#articles article h2 {
    font-size: 20px;
    color: #2a2a2a;
}

#articles article div.title2 {
    margin-top: 2em;
}

#articles article p {
    margin-top: 2em;
    color: #2a2a2a;
}

#articles article a {
    text-decoration: none;
    color: #da1816;
    transition: all 0.2s ease;
}
#articles article a:hover ,
#articles article a:focus ,
#articles article a:active {
    color: #2a2a2a;
}

#articles span.date {
    display: block;
    margin: 2em 0 2em 0;
    color: #2a2a2a;
}
/* *********************************************************** */
/* ********************************************************** */








/* side barre de menu de navigation des articles************** */
/* ********************************************************** */
#side-nav {
    padding-left: 6%;
    padding-right: 2%;
    font-size: 14px;
    margin-bottom: 30px;
}

#side-nav h3 {
    font-size: 18px;
    margin: 3em 0 1em 0;
    color: #2a2a2a;
}

#side-nav ul {
    list-style: none;
    border-left: solid 1px rgb(143, 143, 143);
}

#side-nav ul li {
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: solid 1px rgb(143, 143, 143);
}

#side-nav ul li a {
    text-decoration: none;
    color: #da1816;
    transition: all 0.2s ease;
}
#side-nav ul li a:hover,
#side-nav ul li a:focus,
#side-nav ul li a:active {
    color: #2a2a2a;
}

#side-nav ul li a i {
    margin-right: 1em;
}
/* *********************************************************** */
/* ********************************************************** */

