body {
    background-color: #ececec;
}

main {
    margin-left: 14%;
}

/* Média query ***************************/
@media screen and (max-width: 991.5px) {

    main {
        margin-left: 0%;
    }
}






/***********************************************/
/* HEADER *************************************/
/*********************************************/
header.menu {
    position: fixed;
    /* Alignement vertical *****/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /***************************/
    width: 14%;
    height: 100%;
    background-color: #2a2a2a;
}

header.menu div.mini-menu-contain {
    margin-top: 3em;
    padding: 0px;
}

header.menu div.recrut {
    margin-top: 0em;
}

header.menu div h2 {
    color: #da1816;
    font-size: 14px;
    padding: 0 6% 0 6%; 
}

header.menu div ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    margin-bottom: 0px;
}

header.menu div ul a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 5px 15% 5px 15%;
    transition: all 0.2s ease;
}
header.menu div ul a:hover,
header.menu div ul a:focus,
header.menu div ul a:active {
    background-color: #da1816;
}

header.menu div ul a li {
    color: #ececec;
    font-size: 14px;
}



/* Média query ***************************/
@media screen and (max-width: 991.5px) {

    header.menu {
        position: static;
        width: 100%;
        height: default;
        background-color: #2a2a2a;
    }

    header.menu>div {
        width: 100%;
        padding: 0 4% 0 4%;
    }

    header.menu div.mini-menu-contain {
        margin-top: 16px;
    }

    header.menu div ul a {
        transition: none;
    }
    header.menu div ul a:hover,
    header.menu div ul a:focus,
    header.menu div ul a:active {
        background-color: #2a2a2a;
        color: #da1816;
    }

    header.menu div ul a li {
        transition: none;
    }
    header.menu div ul a li:hover,
    header.menu div ul a li:focus,
    header.menu div ul a li:active {
        color: #da1816;
    }

}

@media screen and (max-width: 768px) {

    header.menu div h2 {
        font-size: 10px;
    }

    header.menu div ul a li {
        font-size: 10px;
    }
}
/***********************************************/
/**********************************************/
/*********************************************/






/***********************************************/
/* BOUTON DECONEXION **************************/
/*********************************************/
#buton-deco {
    display: block;
    margin: 20px 20px 0 0;
    color: #ececec;
    background-color: #da1816;
    transition: all 0.2s ease;
}
#buton-deco:hover,
#buton-deco:focus,
#buton-deco:active {
    background-color: #b61928;
}



/***********************************************/
/**********************************************/
/*********************************************/





