#create_reunion_form_save {
    background-color: #2a2a2a;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
    border: 0;
}

#create_reunion_form_save:hover{
    background-color: #da1816;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
    border: 0;
}

th{
    text-align: center;
    background-color: lightgrey;
}

td{
    text-align: center;
}