/* block du titre de page **************************/
#title1 { 
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* ************************************************ */



#content {
    margin-top: 30px;
    margin-bottom: 30px;
}

#title {
    color: #da1816;
}

#labeltitle {
    text-align: center;
    margin-bottom: 30px;
}
#intens-cours-title {
    margin: 0 0 30px 0;
}


/****************/
/* style teaser */
/****************/
#cover{
    background-color:#2a2a2a ;
    padding: 20px;
    border-radius: 10px;
    color:  #ececec;
}
#donne{
    font-size: 24px;
    color: #da1816;
}
#coverFormation{
    float: left;
}
#picto{
    width: 150px;
}

/******************/
/* style carousel */
/******************/
#carousel-title {
    margin: 50px 0 10px 0;
}
#galerie {
    margin: 50px 0 50px 0;
    background: #ececec;
    overflow: hidden;
    width: 330px;
    height: 100px;
    position: relative;
}


/**************/
/* style typo */
/**************/
#labelpara{
    font-weight: bold;
    text-decoration: underline;
}

/*********************/
/* style map/adresse */
/*********************/
#adresse{
    font-size: 40px;
    padding: 20px;
    text-align: center;
    overflow: auto;
    background-color: #ececec;
    color: #2a2a2a;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    transition: 0.5s;
}
#adresse:hover{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.493);
    transition: 0.5s;
}
#maps{
    width: 100%;
    height: 400px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}
#maps:hover{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.493);
    transition: 0.5s;
}


/* pour le bouton formation du header */
.menubtn-formation {
    background-color: #da1816;
}



/******************/
/* media queries */
/****************/
/* (768px classe medium de bootstrap) */
@media screen and (max-width:768px) {
    #adresse h5 {
        font-size: 14px;
    }

    #adresse h6 {
        font-size: 12px;
    }
    
    #adresseDetail {
        font-size: 12px;
    }

    #maps{
        display: none;
    }
}