body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #464646;
    padding: 50px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

a {
    display: block;
    padding: 7px;
    width: 50%;
    color: white;
    text-align: center;
    margin: auto;
    background-color: #da0000;
    border-radius: 10px;
    box-shadow: inset 1px 1px 30px #363636;
}

p a:hover {
    background-color: #ff0000;
    text-decoration: none;
    color: white;
}

div.answer {
    display: none;
    margin: auto;
    width: 50%;
    background-color: #ececec;
    color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
