/* pour le bouton contact du header */
.menubtn-contact {
    background-color: #da1816;
}


/* block du titre de page **************************/
#title1 {
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* ************************************************ */


/* block succes apres envoi du formulaire */
.success {
    text-align: center;
    width: 20%;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;
}




body{
    background-color: #ececec;
}
#containerBack{
    text-align: center;
}
#formContainer{
    padding: 10px;
    margin-bottom:30px;
    width: 500px;
    border-radius:5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4)
}
#title{
    color: #2a2a2a;
    margin: 30px 0;
    text-align: center;
}
#username{
    margin-bottom:10px;
}
#password{
    margin-bottom:10px;
}
#mdpforgot{
    color:#da1816;
}
#btnlogin{
    background-color: #2a2a2a;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s
}
#btnlogin:hover{
    background-color: #da1816;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
}
#form_save{
    background-color: #2a2a2a;
    color:#ececec;
    margin-top:10px;
    border: 0;
    transition: 0.5s;
}
#form_save:hover{
    background-color: #da1816;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
}
#alertUser{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}


/* media queri */
@media screen and (max-width: 768px) {

    #formContainer{
        width: 300px;
    }
}