body {
    height: 1000px;
}




/* block du titre de page **************************/
#title1 { 
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* ************************************************ */





#carouselNumericall {
    position: relative;
    z-index: 20;
}

.carousel {
    width: 100%;
}

.carousel-caption {
    text-shadow: 2px 2px 2px rgba(0,0,0,.9);
}

main h2 {
    color: #da1816;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    /* font-family: "Slabo 27px", Arial, Helvetica, sans-serif; */
    margin: 0 5% 0 5%;
}

main p {
    text-align: center;
}

main h3 {
    color: #2a2a2a;
    text-align: center;
    font-size: 27px;
    /* font-family: "Slabo 27px", Arial, Helvetica, sans-serif; */
    margin: 0 5% 0 5%;
}

main button {
    background-color: #da1816;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    width: 135px;
    height: 35px; 
    border: none;
    transition: all 0.2s ease;
}

main button a {
    color: #ececec;
}

main button a:hover {
    text-decoration: none;
    color: #ececec;
}

main button:hover,
main button:active,
main button:focus {
    background-color: #b61928;
}


/* pour le bouton home du header */
.menubtn-home {
    background-color: #da1816;
}