*{
    box-sizing: border-box;
}


header{
    height: 95px;
    background-color:#2a2a2a;
    
}
#logo_header{
    float: left;
    width: 20%;
    margin: 5px;
    margin-top: 30px

}  
header p{
    float: right;
    color: #ececec ;
     font: 2em "Open Sans", sans-serif;
     margin-top: 30px;
     margin-right: 10px;
}

.rounded{
    display: block;
    margin-left:auto;
    margin-right: auto;
    border: 7px solid rgb(219, 14, 14);
    height: 40%;
    width: 40%;
}

h2 {
    color: #da1816;
    margin: 10px;
}


body{
   background-color: #ececec;
   color:#2a2a2a;
   margin:0;

}

.wrap.wrap-primary{
    padding: 6rem 0;
}
.container h1{
    margin-bottom: 5rem;
}
.col-md-8 p  {
    font-size: 20px;
    /*font-family: serif, Cambria, Cochin, Georgia, Times, Times New Roman;*/
  
   
}
.lead span{
    font-size: 20px;
    /*font-family: serif,Cambria, Cochin, Georgia, Times, Times New Roman;*/
}


.rounded mx-auto d-block{
    position: relative;
    
}
.page-main-content{
    background-color:#ececec;
}


#yolo {
    border: solid 22px red;
}

footer{
    height: 20 px;
    width: 20 px;
    background-color:rgb(34,34,33); 
    color:white;
}


.container2 img{
    width:200px;
    margin:40px;

}
.container2{
    background:#2a2a2a ;
    width:auto;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-width: 15px;
    color: #DDD
       
}
.container.container2 h3{
    text-align: center;
}
.row.row2{
    text-align: center;

}

#slideshow {
	position: relative;
	width: 640px;
	height: 310px;
	padding: 15px;
	margin: 0 auto 2em;
	border: 1px solid #ddd;
	background: #FFF;
	/* effects */
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);

}


.carousel {

    background: black;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 330px;
    position: relative;

}
/*image redim  ds carousel*/
.carousel .carousel-inner .d-block{
    width: 450px;
    height: 350px;
}





.carousel .carousel-inner {

    height: 300%;

    background: blue;

}
.carousel img {

    position: absolute;
    top: 0;
    left: 0;


}

#lead{
    margin-left: 20px;
}
.carousel slide{
 border: 7px solid rgb(219, 14, 14); 
}

/*equipe enseignante**/
/**********************/
/***********************/
/*.card-container, .card-front, .card-back {
    width  : 200px;
    
}
.card-container {
    perspective     : 1000px;
    transform-style : preserve-3d;
    
}

.card {    
    transition              : 0.6s;
    transform-style         : preserve-3d;
    position                : relative;
}

.card-front, .card-back {
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
    transition                  : 0.6s;
    transform-style             : preserve-3d;
    transform                   : rotateY(0deg);
    position                    : absolute;
    top                         : 0;
    left                        : 0;
}

.card-front {
    background :rgb(51, 5, 5);
    z-index    : 2;
    transform  : rotateY(0deg);
}
.card-back {
    background : rgb(184, 133, 133);
    transform  : rotateY(-180deg);
}

.card-container:hover .card-front {
    transform : rotateY(180deg);
}

.card-container:hover .card-back {
    transform : rotateY(0deg);
}
*/

