header{
    height: 95px;
    background-color:#2a2a2a;

}
#logo_header{
    float: left;
    width: 20%;
    margin: 5px;
    margin-top: 30px

}
header p{
    float: right;
    color:white ;
    font: 2em "Open Sans", sans-serif;
    margin-top: 30px;
    margin-right: 10px;
}

.rounded{
    display: block;
    margin-left:auto;
    margin-right: auto;
    border: 7px solid rgb(219, 14, 14);
    height: 40%;
    width: 40%;



}


body{
    background-color: #2a2a2a;
    color: rgb(241, 238, 238);
}

.wrap.wrap-primary{
    padding: 6rem 0;
}
.container h1{
    margin-bottom: 5rem;
}
.col-md-8 p strong span{
    font-size: 20pt;
}
.lead span{
    font-size: 14pt;
}
.redblack{
    border-bottom: solid darkred 2px;
    background-color: rgb(169, 9, 9);
    border: radius 50%;
    display: block;
    list-style: none;
    padding-right: 70%

}
.rounded mx-auto d-block{
    position: relative;

}
.page-main-content{
    background-color:rgb(204, 13, 13);
}
footer{
    height: 20 px;
    width: 20 px;
    background-color:rgb(34,34,33);
    color:white;
}
.redblack2
{

    background-color: #210404;
    display: block;
    list-style: none;
    padding-right: 70%
}
.container2 .row2 img{
    width:200px;
    margin:40px;

}
.container2{
    background: rgb(199, 7, 7);

    width:auto;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-width: 15px;

}
.container.container2 h3{
    text-align: center;
}
.row.row2{
    text-align: center;

}

#slideshow {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    /* effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);

}


.carousel {

    background: black;
    border-radius: 50%;
    overflow: hidden;
    width: 450px;
    height: 350px;
    position: relative;

}
/*image redim  ds carousel*/
.carousel .carousel-inner .d-block{
    width: 450px;
    height: 350px;
}


.carousel .carousel-inner {

    height: 300%;

    background: blue;

}
.carousel img {

    position: absolute;
    top: 0;
    left: 0;


}

/*equipe enseignante**/
/**********************/
/***********************/
/*.card-container, .card-front, .card-back {
    width  : 200px;

}
.card-container {
    perspective     : 1000px;
    transform-style : preserve-3d;

}

.card {
    transition              : 0.6s;
    transform-style         : preserve-3d;
    position                : relative;
}

.card-front, .card-back {
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
    transition                  : 0.6s;
    transform-style             : preserve-3d;
    transform                   : rotateY(0deg);
    position                    : absolute;
    top                         : 0;
    left                        : 0;
}

.card-front {
    background :rgb(51, 5, 5);
    z-index    : 2;
    transform  : rotateY(0deg);
}
.card-back {
    background : rgb(184, 133, 133);
    transform  : rotateY(-180deg);
}

.card-container:hover .card-front {
    transform : rotateY(180deg);
}

.card-container:hover .card-back {
    transform : rotateY(0deg);
}
*/