body {
    margin: 0;
}

* {
    box-sizing: border-box;
}



/* block du titre de page **************************/
#title1 { 
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* ************************************************ */



h2 {
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    /* font-family: "PT Sans", Arial, Helvetica, sans-serif; */
    color: #2a2a2a;
    font-weight: bold;
}

div.card-columns div.card {
    margin-bottom: 20px;
    background-color: #ececec;
}

div.card-columns div.card p {
    margin-bottom: 0px;
    margin-top: 10px;
    border: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.card-columns {
    margin: 5vw;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    border: none;
}

iframe {
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    border: 5px solid #da1816;
    /* border: 5px solid #b61928; */
    border-radius: 7px;
    background-color: #ececec;
}

p {
    padding: 30px;
    /* font-family: "PT Sans", Arial, Helvetica, sans-serif; */
    font-size: 16px;
    background-color: #ececec;
    border-style: outset;
    border-radius: 10px;
}

p span {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bold;
    font-size: 40px;
}

p span.slash {
    color: #636363;
}

p span.quotes,
.rquotes {
    color: #da1816;
    /* color: #b61928; */
}

.slash,
.rquotes {
    float: right;
}


/* pour le bouton formation du header */
.menubtn-formation {
    background-color: #da1816;
}