/* pour le bouton formation du header */
.menubtn-formation {
    background-color: #da1816;
}


/* block du titre de page **************************/
#title1 { 
    background-color: #da1816;
    padding: 1% 1% 1% 1%;
    box-shadow: 0px 1px 5px #2a2a2a;
}

#title1>div {
    margin: 0% 5% 0% 5%;
}

#title1 div div h1 {
    font-size: 2em;
    color: #ececec;
}
/* ************************************************ */


/* block succes apres envoi du formulaire */
.success {
    text-align: center;
    width: 20%;
    margin: auto;
    margin-top: 17%;
    margin-bottom: 17%;
}


#title {
    color: #2a2a2a;
    margin: 30px 0;
    text-align: center;
}

#formContainer{
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.493);
}
.logo{
    width: 100%;
}
#inscription_add_save{
    background-color: #2a2a2a;
    border: 0;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s
}
    
#inscription_add_save:hover{
    background-color: #da1816;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
}
#annotation{
    color: #da1816;
}
