#formContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.493);
}
.logo{
    width: 100%;
}
#inscription_add_save{
    background-color: #2a2a2a;
    border: 0;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s
}
    
#inscription_add_save:hover{
    background-color: #da1816;
    color:#ececec;
    margin-top:10px;
    transition: 0.5s;
}
#annotation{
    color: #da1816;
}
