{% extends 'base.html.twig' %}

{% block title %}
    Descritpion wf3 - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/descFormationStyle.css">
{% endblock %}

{% block body %}

    <!-- titre de page -->
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Webforce3</h1></div>
        </div>
    </div>

    <!-- descriptif de la formation -->
    <div class="container" id="content">
        <h1 id="labeltitle">Développeur intégrateur web</h1>

        <!-- "teaser" de la formation -->
        <section class="container" id="cover">
            <article class="row justify-content-around">
                <!-- picto dev teaser -->
                <div id="coverFormation">
                    <img id="picto" src="assets/img/webdevBlanc.png" alt="Picto">
                </div>
                <!-- infos teaser formation -->
                <div id="datasFormation">
                    <p><b id="donne">490</b> <span>heures de formation en présentiel</span></p>

                    <p><b id="donne">8+</b> <span>langages et techniques  de programmation Web</span></p>

                    <p><b id="donne">2</b> <span>certifications techniques d’intégration et de développement web reconnues par l’Etat (CNCP)</span></p>
                </div>
        </section>
        <!-- carousel partenaire -->
        <div id="galerie">
            <div id="partenaire">
                <div id="carouselPartners" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <a href="http://www.kneip.com/" target="_blank" rel="noopener noreferrer">
                                <img width="330" height="100" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Kneip.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Kneip" srcset="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Kneip-300x91.png 300w, http://www.numericall.fr/wp-content/uploads/2013/01/logo-Kneip.png 330w"
                                     sizes="(max-width: 330px) 100vw, 330px" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.vanksen.fr/" target="_blank" rel="noopener noreferrer">
                                <img width="330" height="100" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Vanksen.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Vanksen"
                                     srcset="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Vanksen-300x91.png 300w, http://www.numericall.fr/wp-content/uploads/2013/01/logo-Vanksen.png 330w"
                                     sizes="(max-width: 330px) 100vw, 330px" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.pwc.fr/" target="_blank" rel="noopener noreferrer">
                                <img width="150" height="100" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-PWC.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="PWC" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.agefos-pme-alsace.com/" target="_blank" rel="noopener noreferrer">
                                <img width="90" height="90" src="http://www.numericall.fr/wp-content/uploads/2015/11/logo-agefos-pme-grand-est.gif"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Agefos PME"
                                     srcset="http://www.numericall.fr/wp-content/uploads/2015/11/logo-agefos-pme-grand-est-66x66.gif 66w, http://www.numericall.fr/wp-content/uploads/2015/11/logo-agefos-pme-grand-est.gif 90w"
                                     sizes="(max-width: 90px) 100vw, 90px" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.fpspp.org/portail/easysite/fpspp/" target="_blank" rel="noopener noreferrer">
                                <img width="241" height="113" src="http://www.numericall.fr/wp-content/uploads/2015/11/logo-fpspp.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Fonds Paritaire de Sécurisation des Parcours Professionnels - FPSPP"
                                />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.ma-poe.com/" target="_blank" rel="noopener noreferrer">
                                <img width="127" height="116" src="http://www.numericall.fr/wp-content/uploads/2015/11/logo-ma-poe.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Ma POE"
                                />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.adem.public.lu/" target="_blank" rel="noopener noreferrer">
                                <img width="143" height="120" src="http://www.numericall.fr/wp-content/uploads/2015/11/logo-ADEM.gif"
                                     class="attachment-portfolio-two size-portfolio-two" alt="ADEM" />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.mission-locale.fr/" target="_blank" rel="noopener noreferrer">
                                <img width="99" height="190" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Mission-Locale-Briey.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Mission locale Briey"
                                />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <img width="150" height="100" src="http://www.numericall.fr/wp-content/uploads/2015/11/logo-Europe.png"
                                 class="attachment-portfolio-two size-portfolio-two" alt="Europe" />
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.pole-emploi.fr/accueil/" target="_self">
                                <img width="132" height="113" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Pole-Emploi.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Pôle Emploi"
                                />
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="http://www.lorraine.eu/accueil.html" target="_self">
                                <img width="250" height="57" src="http://www.numericall.fr/wp-content/uploads/2013/01/logo-Région-Lorraine.png"
                                     class="attachment-portfolio-two size-portfolio-two" alt="Région Lorraine"
                                />
                            </a>
                        </div>
                    </div> <!-- fin carousel-inner -->
                </div> <!-- fin carouselPartners -->
            </div> <!-- fin partenaires -->
        </div> <!-- fin galerie -->

        <!-- decritpion formation -->
        <div id="desc" class="container">
            <br>
            <h4>FORMATION INTENSIVE 490 H</h4>
            <h4 id="title">DÉVELOPPEUR INTÉGRATEUR WEB</h4>
            <p>Elaboré par des professionnels et des enseignants du web, le programme de WebForce3 s’appuie sur une méthode éprouvée permettant l’assimilation rapide et durable et des techniques indispensables au développement web.</p>



            <h4 id="title">LES DOMAINES COUVERTS PAR LE PROGRAMME :</h4>
            <ul>
                <li class="nav-item">
                    <span id="labelpara">HTML5, CSS3</span>

                    <p>
                        Structurer le contenu
                        Concevoir des pages et des interfaces web responsive
                        Créer des animations
                    </p>
                </li class="nav-item">
                <li class="nav-item">
                    <span id="labelpara">JavaScript, Jquery & AJAX</span>
                    <p>
                        Concevoir des pages web interactives
                        Utiliser la librairie jQuery pour gagner en productivité
                        Ajouter de l’interactivité aux pages web avec AJAX
                    </p>
                </li class="nav-item">
                <li class="nav-item">
                    <span id="labelpara">SQL, BDD MySQL</span>
                    <p>
                        Savoir utiliser SQL pour exploiter des bases de données
                        Administrer des bases de données avec MySQL
                    </p>
                </li class="nav-item">
                <li class="nav-item">
                    <span id="labelpara">PHP, POO</span>
                    <p>
                        Maîtriser la syntaxe et les instructions de base de PHP. Développer des fonctionnalités
                        Savoir mettre en ligne un site avec une partie cliente (front) et une interface de gestion (back)
                        Concevoir une application web évolutive dans le temps et réutilisable par autrui
                        Connaître les notions fondamentales et la technique de programmation orientée objet
                        Améliorer la productivité, modularité et clarification du code afin d’obtenir un gain de temps
                    </p>
                </li class="nav-item">
                <li class="nav-item">
                    <span id="labelpara">WordPress</span>
                    <p>
                        Créer un site web professionnel en ligne (front-end/back-end)
                        Les formations WebForce3 techniques de développement web (305 heures) et techniques d’intégration web (185 heures) ont été reconnues dès novembre 2015 par la Commission Nationale de la Certification Professionnelle (CNCP). Cette reconnaissance est un gage supplémentaire de la qualité de nos formations, qui répondent aux critères d’exigences des acteurs publics et privés de l’emploi et de la formation professionnelle dans le secteur du numérique en constante mutation.
                    </p>
                </li class="nav-item">
            </ul>
            <p>
                WebForce3 propose également à l’ensemble de ses apprenants de passer la certification Opquast®, qui permet de s’évaluer au regard des standards et bonnes pratiques du web en matière d’accessibilité, d’ergonomie, de performance, de respect des réglementations… En 2016, 4 élèves WebForce3 se sont classés parmi les 10 premiers élèves du classement, toutes écoles confondues <br>

                Et ce n’est pas tout !
                Programmation orientée objet, architecture mvc, développer à l’aide d’un framework mvc, réalisation d’un site web complexe par équipe de 3 à 4 apprenants (2 semaines), versionning git, référencement SEO, administration Linux, sécurité web, optimisation des performances, etc…
            </p>

            <h4 id="title">PRÉREQUIS</h4>
            <p>
                Ouverte à toutes les personnes motivées, la formation Développeur intégrateur web de WebForce3 ne demande aucun prérequis en termes de niveau scolaire /diplôme obtenu.<br>

                Si vous êtes intéressés par cette formation intensive, passerelle efficace vers un métier en tension, nous vous invitons à participer à une prochaine réunion d’information, se tenant le plus souvent dans l’un de nos centres répartis sur l’ensemble du territoire (voir rubrique ci-contre pour l’inscription).<br>

                A la fin de cette réunion d’information, vous aurez la possibilité, si vous le souhaitez, de passer un test de culture générale web et de logique.<br>

                Tous les candidat(e)s admissibles à ce test seront alors reçu pour un entretien de motivation avec la personne en charge du centre de formation au sein duquel vous souhaiteriez suivre ce cursus.<br>
            </p>

            <h4 id="title">CERTIFICATION</h4>
            <p>
                Nous délivrons 2 certifications professionnelles inscrites à l’inventaire de la Commission Nationale de Certification Professionnelle (CNCP) et donc reconnue par la branche des métiers du numérique.<br>

                Sous certaines conditions, notamment lorsque notre cursus intensif de 490 heures est complété par un stage (+/- 2 mois / 245 heures), nous sommes également habilités à faire passer le titre Développeur logiciel du Ministère du Travail (Titre RNCP niveau III).<br>
            </p>

            <h4 id="title">< FOCUS SUR LE MÉTIER DE DÉVELOPPEUR(SE) WEB ></h4>
            <p>WebForce3 propose des formations centrées sur les métiers en tension issus de la révolution numérique. La constante pénurie de développeurs-intégrateurs web témoigne qu’il s’agit probablement du métier numérique le plus en tension. Les offres d’emplois sont en forte augmentation dans toute la France et nombre d’entre elles ne sont pas pourvues. Le besoin de développeurs a explosé au cours des cinq dernières années, car on est passé d’un web de communication et de e-commerce au cloud. Aujourd’hui, les logiciels métiers utilisés au quotidien dans les entreprises (facturation, stock, relation client, paie, etc.) sont passés ou vont passer par le web et utilisent donc les langages et technologies d’Internet. Ce besoin s’accélère encore avec les nouvelles interfaces web que sont les objets connectés.</p>
            <br>
        </div>

        <!-- partie adresse/maps -->
        <div class="container">
            <h4 id="title">Lieux de formation</h4>
            <br>
            <div class="row justify-content-around">
                <!-- card adresse numericall pienne -->
                <div class="col-6">
                    <a id="adresse" class="card" data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
                        <h5>École WebForce3 Lorraine</h5>
                        <h6>Campus numérique NuméricALL</h6>
                    </a>
                </div>
                <!-- card adresse numericall lux -->
                <div class="col-6">
                    <a id="adresse" class="card align-self-center" data-toggle="collapse" href="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                        <h5>École WebForce3 Luxembourg</h5>
                        <h6>Technoport</h6>
                    </a>
                </div>
            </div>

            <div><br></div>

            <div class="row">
                <!-- collapsed map pienne -->
                <div class="col-6">
                    <div class="collapse" id="multiCollapseExample1">
                        <div class="alert alert-primary" id="adresseDetail">
                            <p>6, rue Gino Raimondi – 54490 Piennes
                                <br>Port. +33 6 82 93 87 73</p>
                        </div>
                        <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2601.1826800027775!2d5.7802684!3d49.310824!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ead130c8b1dcd9%3A0xe74af9db334e654a!2s6+Rue+Gino+Raimondi%2C+54490+Piennes!5e0!3m2!1sfr!2sfr!4v1516362924288" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>.
                    </div>
                </div>
                <!-- collapsed map lux -->
                <div class="col-6">
                    <div class="collapse" id="multiCollapseExample2">
                        <div class="alert alert-primary" id="adresseDetail">
                            <p>9 , avenue des Hauts-Fourneaux – L4362 – Esch-sur-Alzette
                                <br>Tél. +352 545580421 – Port. +33 6 63 06 78 63</p>
                        </div>
                        <iframe id="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2591.048118531055!2d5.947026665889288!3d49.50248531309217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47eacad49ef04f7d%3A0x8599a1646a7921b9!2sTECHNOPORT+SA+%E2%80%93+BELVAL%2C+9+Avenue+des+Hauts-Fourneaux%2C+4362+Esch+an+der+Alzette%2C+Luxembourg!5e0!3m2!1sfr!2sfr!4v1516362969215" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %} <!-- dans l'acolade bloque, mettre  block javascript --> <!-- voir avec florent pour se js : -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script> -->
{% endblock %}