{% extends "base-backoffice.html.twig" %}

{% block title %}
    Changer role Administrateur - Numericall
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/gestion-admin/change-role.css">
{% endblock %}

{% block body %}
    {% if change is defined %}
        <div class="alert alert-success" role="alert">
            Rôle assigné : {{ role [0]}}<br>
        </div>
    {% elseif notchange is defined %}
        <h1 class="display-4"> Changer le role d'un administrateur </h1>
        {% if notEmpty is defined %}
                {% form_theme formChangeRole 'bootstrap_4_layout.html.twig' %}
                {{ form(formChangeRole) }}
        {% endif %}
    {% endif %}

{% endblock %}
