/* Pour le bouton du header qui concerne cette page */
header.menu div ul a.add-actu {
    background-color: #da1816;
}
@media screen and (max-width: 991.5px) {

    header.menu div ul a.add-actu {
        background-color: #2a2a2a;
    }

    header.menu div ul a.add-actu li {
        color: #da1816;
    }
}




/* titre */
h1 {
    text-align: center;
    margin: 30px 0;
    color: #2a2a2a;
}

/* block du formulaire */
#actu_form {
    margin: 60px 20% 60px 20%;
}

/* labels des champs */
.form-control-label {
    color: #2a2a2a;
}

/* bouton du formulaire */
#actu_form_save {
    color: #ececec;
    background-color: #2a2a2a;
    border: 0;
    transition: all 0.2s ease;
}
#actu_form_save:hover,
#actu_form_save:focus,
#actu_form_save:active {
    background-color: #da1816;
}

/* message de success */
.alert-success {
    margin: 60px 20% 60px 20%;
    text-align: center;
    margin-bottom: 10px;
}