{% extends "base-actu.html.twig" %}

{% block title %}
    Actualités 28/11/17 - Numericall
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Réunion info WebForce3 13 décembre 2017 à l’ADEM 9H</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <div class="container">
            <div class="row justify-content-between previous-next-border">
                <div class="previous">
                    <a href="{{ path('article081217_page') }}"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                    <div class="animate"></div>
                </div>
                <div class=" next">
                    <a href="{{ path('article110917_page') }}"> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>

        <article class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="assets/img/actu/28-11-17.png" target="_blank">
                        <img class="img-fluid" src="assets/img/actu/28-11-17.png" alt="numericall-logo">
                    </a>
                </div>
                <div class="col-12">
                    <div class="title2">
                        <h2>Réunion info WebForce3 13 décembre 2017 à l’ADEM 9H</h2>
                    </div>
                    <p>Le 13 décembre à 9 heures nous présenterons la nouvelle formation @WebForce3, Fit4CodingJobs,
                    à l’ADEM, 13 rue Bender, Luxembourg. Une formation de 490 heures de développeur – intégrateur web.
                    <br>
                    <br>
                    Pour vous inscrire à cette réunion, merci de vous rapprocher de votre conseiller ADEM,
                    ou de nous écrire: info@numericall.com.</p>
                </div>
            </div>
        </article>

        <span class="date">28 novembre 2017</span>

    </section>
{% endblock %}
