{% extends "base-actu.html.twig" %}

{% block title %}
    Numéricall-actualités-08/12/17
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
<div class=" container-fluid" id="title1">
    <div class="row">
        <div class="col-12"><h1>NumericALL lauréate au European Digital Skills Awards 2017</h1></div>
    </div>
</div>
{% endblock %}

{% block body2 %}
<section class="col-lg-9" id="articles">

    <div class="container">
        <div class="row justify-content-between previous-next-border">
            <div class="previous">
                <a href="/art050118"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                <div class="animate"></div>
            </div>
            <div class=" next">
                <a href="/art281117"> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </div>

    <article class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="https://www.numericall.fr/wp-content/uploads/2017/12/AWARD.jpeg" target="_blank">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/12/AWARD.jpeg" alt="AWARD">
                </a>
            </div>
            <div class="col-12">
                <div class="title2">
                    <h2>NumericALL lauréate au European Digital Skills Awards 2017</h2>
                </div>
                <p> La formation Fit4Coding organisée par NumericALL en partenariats avec l’Agence pour le développement de l’emploi, le Fonds
                Social Européen, et WebForce3, a gagné l’Award dans la catégorie <a href="https://twitter.com/digitalskillseu?lang=en">Digital Skills for the Labour Force.</a>
                <br>
                <br> Brigitte Lepage, accompagnée par Guy Putz de l’ADEM, a reçu le prix jeudi 7 décembre à Bruxelles.
                <br>
                <br> Fit4Coding est la formation intensive d’intégrateur et développeur web qui se déroule sur trois mois et demi. Une formation
                concrète qui offre aux participants un socle de compétences complètes avec un acquis des techniques d’intégration et de développement
                front et back-end. Elle comprend également un module “employabilité” et un programme de “mentoring” pour parfaitement préparer
                le participant à entrer en poste aussitôt la formation complétée. Jusqu’ici le retour à l’emploi à six-mois après la formation
                est assuré pour 80% des participants.
                <br>
                <br> NumericALL est très fière de recevoir le European Digital Skills Award 2017!
                <br>
                <br> <i>Lire les actualités de nos partenaires:</i>
                <br>
                <br> <a href="http://www.gouvernement.lu/7616796/07-fit-4-coding">Ministère du Travail, de l’Emploi et de l’Économie sociale et solidaire</a>
                <br>
                <br> <a href="http://www.adem.public.lu/fr/actualites/adem/2017/12/Fit4Coding_European_Digital_Skills/index.html">ADEM</a>
                <br>
                <br> <a href="http://www.fonds-europeens.public.lu/fr/index.html">Fonds Social Européen</a>
                <br>
                <br> <a href="http://www.wf3.fr/actualites/actualite-luxembourg/formation-fit4coding-laureate-european-digital-skills-awards-2">WebForce3</a> </p>
            </div>
        </div>
    </article>

    <span class="date">8 décembre 2017</span>

</section>
{% endblock %}

