{% extends "base-actu.html.twig" %}

{% block title %}
    Numéricall-actualités-05/01/17
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Day one Session 4 WF3 Fit4coding au Luxembourg. C’est parti!</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <div class="container">
            <div class="row justify-content-between previous-next-border">
                <div class="previous">
                    <a href="/art110517"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                    <div class="animate"></div>
                </div>
                <div class=" next">
                    <!-- <a href="### (url de l'aticle suivant)..."> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div> -->
                </div>
            </div>
        </div>

        <article class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.numericall.fr/wp-content/uploads/2017/01/IMG_2139-1200x900.jpg" target="_blank">
                        <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/01/IMG_2139-1200x900.jpg" alt="IMG_2139-1200x900">
                    </a>
                </div>
                <div class="col-12">
                    <div class="title2">
                        <h2>Day one Session 4 WF3 Fit4coding au Luxembourg. C’est parti!</h2>
                    </div>
                    <p>
                        <!-- contenu vide -->
                    </p>
                </div>
            </div>
        </article>

        <span class="date">5 janvier 2017</span>

    </section>
{% endblock %}