{% extends "base-actu.html.twig" %}

{% block title %}
    Actualités 07/09/17 - Numericall
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Piennes : Session WF3 Agefos, 6 Novembre 2017 au 7 Février 2018</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <div class="container">
            <div class="row justify-content-between previous-next-border">
                <div class="previous">
                    <a href="{{ path('article110917_page') }}"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                    <div class="animate"></div>
                </div>
                <div class=" next">
                    <a href="{{ path('article070917esch_page') }}"> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>

        <article class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="assets/img/actu/07-09-17.jpg" target="_blank">
                        <img class="img-fluid" src="assets/img/actu/07-09-17.jpg" alt="23592010_921248464698184_5653716488071032486_o">
                    </a>
                </div>
                <div class="col-12">
                    <div class="title2">
                        <h2>Piennes : Session WF3 Agefos, 6 Novembre 2017 au 7 Février 2018</h2>
                    </div>
                    <p>La deuxième session de formation de développeur et d’intégrateur web commencera le 6 Novembre 2017 au Campus numérique de
                    Piennes. Au programme, HTML, CSS, PHP, MySQL, Angular, Cordova, Git et bien d’autres choses !
                    <br>
                    <br>
                    La fin de la formation est prévue pour le 6 Février 2018, date jusqu’à laquelle les étudiants s’attelleront à des challenges
                    d’apprentissage et de créativité.
                    <br>
                    <br>
                    Les dates de réunion seront communiquées sur notre page Facebook: <a href="https://www.facebook.com/Numericall-524344361055265/timeline/">@info_numericall</a>
                    <br>
                    <br>
                    Bon courage aux nouveaux futurs diplômés ! </p>
                </div>
            </div>
        </article>

        <span class="date">7 septembre 2017</span>

    </section>
{% endblock %}
