{% extends "base-actu.html.twig" %}

{% block title %}
    Numéricall-actualités-07/09/17(esch)
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>Esch Technoport : day one – S6</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <div class="container">
            <div class="row justify-content-between previous-next-border">
                <div class="previous">
                    <a href="/art070917"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                    <div class="animate"></div>
                </div>
                <div class=" next">
                    <a href="/art110517"> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>

        <article class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval-1200x675.jpg" target="_blank">
                        <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval-1200x675.jpg" alt="wf3-new-session-s6-esch-belval-1200x675">
                    </a>
                </div>
                <div class="col-12">
                    <div class="title2">
                        <h2>Esch Technoport : day one – S6</h2>
                    </div>
                    <p>Premier jour de la 6ieme session à Esh, Luxembourg</p>
                </div>
            </div>
        </article>

        <span class="date">7 septembre 2017</span>

    </section>
{% endblock %}
