{% extends 'base.html.twig' %}

{% block title %}
Numericall description
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="assets/css/style_numericall.css" >
{% endblock %}

{% block body %}
<section class="container" id="about">
    <div class="row">
        <div class="col-12 col-lg-8">
            <h2>Qui sommes-nous ?</h2><br><br>
            <p>
                Fortement engagée dans sa transition digitale, l'économie luxembourgeoise, très dynamique, a besoin de nouvelles compétences dans tous les métiers de l'informatique, et notamment de développeurs pour les applications web et mobiles dont tous les secteurs de l'économie et de la vie publique ont besoin.
                <br>
                le public-cible prioritaire est celui de jeunes demandeurs d'emploi, fortement motivés par le web et les métiers du développement, mais qui, faute d'une formation supérieure appropriée, n'ont pas réussi à s'insérer dans ce secteur dynamique mais exigeant.
                <br>
                Le recrutement dans le programme est fait conjointement avec l'Adem : il n'y a pas de pré-requis académique, mais le recrutement est sélectif, avec un process qui a pour objectif d'identifier des candidats qui ont l'aptitude et la motivation à s'engager dans un programme intensif, et un projet professionnel clair vers les métiers du web
            </p>
        </div>

        <div class="col-12 col-lg-4">
            <!-- <img class="img-responsive" src="assets/img/computer.jpg" style="display: none; border-radius: 50%; display: block; margin: 1rem auto;" width="300" height="300" /> -->

            <div id="carousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="assets/img/numericallpic1.jpg" alt="First slide">
                    </div>



                    <div class="carousel-item">
                        <img class="d-block" src="assets/img/nume.jpg" alt="Second slide">
                    </div>



                    <div class="carousel-item">
                        <img class="d-block" src="assets/img/nume2.jpg" alt="Third slide">
                    </div>
                </div>

            </div>
        </div>
    </div><br><br><br> <!-- .row -->
    <div class="row">
        <div class="col-12 col-lg-4">

            <div id="carousel" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block" src="assets/img/numericallpic1.jpg" alt="First slide">
                    </div>


                    <div class="carousel-item">
                        <img class="d-block" src="assets/img/nume.jpg" alt="Second slide">
                    </div>


                    <div class="carousel-item">
                        <img class="d-block" src="assets/img/nume2.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <p>
                Le programme Fit4CodingJobs vise a former 90 développeurs web sur 2 ans, à travers 6 sessions où des demandeurs d'emploi vont apprendre les langages de programmation et les technologies les plus fréquemment utilisés par les entreprises pour développer des sites web ( HTML, CSS, JS, PHP, Angular, Symfony)
                <br>Cette formation intensive de 490 heures, réalisée en présentiel par des développeurs professionnels, se termine par la réalisation d'un site web, et est complétée par différentes initiatives visant à préparer les apprenants à l'emploi dans le secteur spécifique du web (module employabilité de 3 jours avec des professionnels du recrutement, mentoring par des cadres d'entreprises luxembourgeoises); la formation est réalisée en Anglais
                <br>L'objectif du programme est d'amener au moins 75% des apprenants à un emploi dans les métiers du web, dans les 6 mois qui suivent la fin de la formation.
                Un objectif secondaire est d'attirer plus de femmes (15% au moins) vers un secteur où elles sont notoirement sous-représentées (environ 10% dans le secteur IT au Luxembourg)
            </p>
        </div>
    </div>
</section>

<!-- <section class="container container2" id="formateurs">
    <div class="row">
        <h3 class="w-100">Notre équipe de formateurs</h3>
        <div class="col-3">
            <img src="img/blp.jpg" alt="dsdsdsdsdsd">
            <p>Jean</p>
        </div>
        <div class="col-3">
            <img src="img/blp.jpg" alt="dsdsdsdsdsd">
            <p>Paul</p>
        </div>
        <div class="col-3">
            <img src="img/blp.jpg" alt="dsdsdsdsdsd">
            <p>Luc</p>
        </div>
        <div class="col-3">
            <img src="img/blp.jpg" alt="dsdsdsdsdsd">
            <p>Simon</p>
        </div>
    </div>
</section> -->
{% endblock %}

{% block javascripts %}
    <script src="script.js"></script>
{% endblock %}

    
