<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style_numericall.css">
    <script src="jquery-3.2.1.min.js"></script>
    <title>Numericall</title>
</head>

<body>

<header id="menu">
    <img id="logo_header" src="assets/img/numericall_logoblanc.png" alt="logo">
    <p>A propos</p>
</header>



<!-- PARTIE 1 -->
<section>
    <div class="page-main-content">
        <div data-id="lead" data-type="contenu" data-bloc="local" class="bloc_gabarit">
            <div>
                <div class="wrap wrap-primary">
                    <div class="container">
                        <h1>
                            <strong>Qui sommes-nous ?</strong>
                        </h1>
                        <div class="row">
                            <div class="col-md-8">
                                <p style="font-size: 3.6rem;">
                                    <strong>
                                        <span>oponents of software copyright had their counter-arguments</span>
                                    </strong>
                                </p>
                                <p class="lead">
                                        <span>Such speculation benefits from the fast and loose nature of most so-called " behavioral
                                            disorders" nowadays, of course. As Steve Silberman, author of " The Geek Syndrome,"
                                            notes, American psychiatrists have only recently come to accept Asperger Syndrome
                                            as a valid umbrella term covering a wide set of behavioral traits. </span>
                                </p>
                                <p>
                                        <span>
                                            <strong></strong>
                                        </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <!-- <img class="img-responsive" src="assets/img/computer.jpg" style="display: none; border-radius: 50%; display: block; margin: 1rem auto;" width="300" height="300" /> -->

                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block" src="assets/img/numericallpic1.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block" src="assets/img/nume.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block" src="assets/img/nume2.jpg" alt="Third slide">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
</section>

<!-- PARTIE 1 -->


<section>
    <div class="redblack"></div>
    <div class="redblack2">
        <h1>Numericall</h1>


    </div>
</section>
<!-- PARTIE 2/->fonction d'animation pour masquer un élément*/
/*fadeOut('durée de l\'annimation')
//slideUp('durée de l\'annimation')
//hide('durée de l\'annimation')

/*->fonction d'animation pour afficher un élément*/
/*fadeIn('durée de l\'annimation')
//slideDown('durée de l\'annimation')
//show('durée de l\'annimation')/ -->
<section>
    <div class="page-main-content">
        <div data-id="lead" data-type="contenu" data-bloc="local" class="bloc_gabarit">
            <div>
                <div class="wrap wrap-primary">
                    <div class="container">
                        <h1>

                        </h1>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="assets/img/blp.jpg" style="border-radius: 50%; display: block; margin: 1rem auto;" width="300"
                                     height="300" />
                            </div>

                            <div class="col-md-8">


                                <p style="font-size: 3.6rem;">
                                    <strong>
                                        <span>Какво е Lorem Ipsum?s</span>
                                    </strong>
                                </p>
                                <p class="lead">
                                        <span>Such speculation benefits from the fast and loose nature of most so-called " behavioral
                                            disorders" nowadays, of course. As Steve Silberman, author of " The Geek Syndrome,"
                                            notes, American psychiatrists have only recently come to accept Asperger Syndrome
                                            as a valid umbrella term covering a wide set of behavioral traits. </span>
                                </p>

                            </div>

                        </div>
</section>

<!-- PARTIE 2 -->

<div class="card-container">
    <div class="card">
        <div class="card-front">
            <img src="assets/img/numericallpic1.jpg" alt="img1" class="rounded">
        </div>
        <div class="card-back">
            face arrière
        </div>
    </div>
</div>




<section id="section_body1">




</section>
<!-- PARTIE 3 -->
<br>
<br>
<br>
<br>
<section>
    <div class="container container2">
        <h3>Notre équipe de formateurs </h3>
        <div class="row row2">
            <div class="col-xs-8">
                <img src="assets/img/blp.jpg" alt="dsdsdsdsdsd">
                <p>Jean</p>
            </div>








            <div class="col-xs-8">
                <img src="assets/img/blp.jpg" alt="dsdsdsdsdsd">
                <p>Paul</p>
            </div>
            <div class="col-xs-8">
                <img src="assets/img/blp.jpg" alt="dsdsdsdsdsd">
                <p>Luc</p>
            </div>
            <div class="col-xs-8">
                <img src="assets/img/blp.jpg" alt="dsdsdsdsdsd">
                <p>Simon</p>
            </div>
        </div>

    </div>


    <!-- PARTIE 3 -->
    <footer>
        <div id="cf">
            <img class="bottom" src="/images/Windows%20Logo.jpg" />
            <img class="top" src="/images/Turtle.jpg" />
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script>$('.carousel').carousel({
            interval: 3000
        })</script>
</body>

</html>