{% extends "base-actu.html.twig" %}

{% block title %}
    Numéricall-actualités-page1
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="assets/css/actu-pages-style.css">
{% endblock %}

{% block body1 %}
<div class=" container-fluid" id="title1">
    <div class="row">
        <div class="col-8"><h1>Actualités</h1></div>
        <div class="col-4 row justify-content-end"> <a href="#pagination-menu"> Page 1 </a> </div>
    </div>
</div>
{% endblock %}

{% block body2 %}
<section class="col-lg-9" id="articles">

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2018/01/Screen-Shot-2018-01-04-at-11.45.32.png" alt="Screen-Shot-2018-01-04-at-11.45.32">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art050118"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://www.numericall.fr/wp-content/uploads/2018/01/Screen-Shot-2018-01-04-at-11.45.32.png" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art050118"> <h2>Fit4CodingJobs Session 1 Day One au Technoport</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>5 janvier 2018</span>
                <p> NumericALL innove à nouveau au Luxembourg, toujours en partenariat avec l'Adem et le FSE, en lançant Fit4CodingJobs, qui
                    propose désormais le programme de développeur-intégrateur web de 490 heures intégralement [...]</p>
            </div>
            <div class="read-more">
                <a href="/art050118">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/12/AWARD.jpeg" alt="AWARD">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art081217"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://www.numericall.fr/wp-content/uploads/2017/12/AWARD.jpeg" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art081217"> <h2>NumericALL lauréate au European Digital Skills Awards 2017</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>8 décembre 2017</span>
                <p> La formation Fit4Coding organisée par NumericALL en partenariats avec l'Agence pour le développement de l'emploi, le Fonds
                    Social Européen, et WebForce3, a gagné l'Award dans la catégorie Digital Skills for [...]</p>
            </div>
            <div class="read-more">
                <a href="/art081217">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2015/11/numericall-logo-.png" alt="numericall-logo">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art281117"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://www.numericall.fr/wp-content/uploads/2015/11/numericall-logo-.png" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art281117"> <h2>Réunion info WebForce3 13 décembre 2017 à l’ADEM 9H</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>28 novembre 2017</span>
                <p> Le 13 décembre à 9 heures nous présenterons la nouvelle formation @WebForce3, Fit4CodingJobs, à l'ADEM, 13 rue Bender, Luxembourg.
                    Une formation de 490 heures de développeur - intégrateur web. Pour vous [...]</p>
            </div>
            <div class="read-more">
                <a href="/art281117">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2016/10/Lu1.jpeg" alt="Formation-Numericall-Webforce3-Luxembourg-Piennes">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art110917"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://www.numericall.fr/wp-content/uploads/2016/10/Lu1.jpeg" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art110917"> <h2>Prochaine réunion d’information: Formation Développeur WebForce3</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>11 septembre 2017</span>
                <p> La réunion d'information collective pour la prochaine session de formation Webforce3 se tiendra le 10 octobre 2017 à 14h00
                    dans les locaux de Pôle Emploi : Agence Pôle Emploi BRIEY-JARNY 2 rue de [...]</p>
            </div>
            <div class="read-more">
                <a href="/art110917">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/23592010_921248464698184_5653716488071032486_o.jpg?oh=9aba30af9d21553d4534f05fb8581b82&oe=5AE4215D" alt="23592010_921248464698184_5653716488071032486_o">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art070917"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/23592010_921248464698184_5653716488071032486_o.jpg?oh=9aba30af9d21553d4534f05fb8581b82&oe=5AE4215D" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art070917"> <h2>Piennes : Session WF3 Agefos, 6 Novembre 2017 au 7 Février 2018</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>7 septembre 2017</span>
                <p> La deuxième session de formation de développeur et d’intégrateur web commencera le 6 Novembre 2017 au Campus numérique de
                    Piennes. Au programme, HTML, CSS, PHP, MySQL, Angular, Cordova, Git et bien d’autres choses [...]</p>
            </div>
            <div class="read-more">
                <a href="/art070917">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <article class="container-fluid">
        <div class="row justify-content-end">
            <div class="col-md-6">
                <div class="container box-item">
                    <img class="img-fluid" src="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval.jpg" alt="wf3-new-session-s6-esch-belval">
                    <div class="row align-items-center items">
                        <div class="col-6 link">
                            <a href="/art070917esch"><i class="fa fa-link" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6 zoom">
                            <a href="https://www.numericall.fr/wp-content/uploads/2017/09/wf3-new-session-s6-esch-belval.jpg" target="_blank"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title2 mt-md-0">
                    <a href="/art070917esch"> <h2>Esch Technoport : day one – S6</h2> </a>
                    <div class="animate"></div>
                </div>
                <span>7 septembre 2017</span>
                <p> Premier jour de la 6ieme session à Esh</p>
            </div>
            <div class="read-more">
                <a href="/art070917esch">En savoir plus <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                <div class="animate"></div>
            </div>
        </div>
    </article>

    <!-- pour la première page -->
    <nav class='row' id="pagination-menu">
        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-start mt-md-5 mb-md-5">
                <!-- <div class="prev">
                    <a href="#">
                        <strong>Page précédante</strong>
                    </a>
                    <div class="animate"></div>
                </div> -->
            </div>
        </div>

        <div class="col-md-6 container button-div">
            <div class="row justify-content-center mt-5 mb-md-5">
                <span class="ml-0">1</span>
                <a href="/actualitesp2" class="button">2</a>
            </div>
        </div>

        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-end mt-5 mb-5">
                <div class="next">
                    <a href="/actualitesp2">
                        <strong>Page suivante</strong>
                    </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>
    </nav>

    <!-- pour la page 2, 3, 4, 5 ... -->
    <!-- <nav class='row' id="pagination-menu">
        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-start mt-5 mb-5">
                <div class="prev">
                    <a href="#">
                        <strong>Page précédante</strong>
                    </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 container button-div">
            <div class="row justify-content-center mt-md-5 mb-md-5">
                <a href="#" class="ml-0 button">1</a>
                <span>2</span>
                <a href="#" class="button">3</a>
                <a href="#" class="button">4</a>
                <a href="#" class="button">5</a>
            </div>
        </div>

        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-end mt-5 mb-5">
                <div class="next">
                    <a href="#">
                        <strong>Page suivante</strong>
                    </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>
    </nav> -->

    <!-- pour la dèrnière page -->
    <!-- <nav class='row' id="pagination-menu">
        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-start mt-5 mb-5">
                <div class="prev">
                    <a href="#">
                        <strong>Page précédante</strong>
                    </a>
                    <div class="animate"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6 container button-div">
            <div class="row justify-content-center mt-md-5 mb-5">
                <a href="#" class="ml-0 button">1</a>
                <a href="#" class="button">2</a>
                <a href="#" class="button">3</a>
                <a href="#" class="button">4</a>
                <span>5</span>
            </div>
        </div>

        <div class="col-md-3 container nextorprev-div">
            <div class="row justify-content-end mt-md-5 mb-md-5">
            </div>
        </div>
    </nav> -->

</section>
{% endblock %}

