{% extends "base-backoffice.html.twig" %}

{% block body %}
    {% if change is defined %}
<div>Adresse mail changé!<br>
    Nouvelle adresse mail : {{ email }}<br>
    Stylise moi stpppp!</div>
{% elseif notchange is defined %}
        {% form_theme formChangeEmail 'bootstrap_4_layout.html.twig' %}

        {{ form(formChangeEmail) }}
        {% if inputError is defined %}
            {% for error in inputError %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
{% endif %}
{% endblock %}
