{% extends 'base.html.twig' %}

{% block title %}
    Error 404
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/error404.css">
{% endblock %}


{% block body %}
    <section class="error">
        <h1 class="error-title">◄ Page introuvable !!! ►</h1>
        <br><br><br>
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-6">
                    <img class="img-fluid" id="picpc" src="/assets/img/monitor-error.png" alt="page 404">
                </div>
                <div class="col-12 col-md-6">
                    <div class="kk">
                        <p>
                            La page que vous avez demandée n’a pas été trouvée.<br>
                            Il se peut que le lien que vous avez utilisé soit mort<br>
                            ou que vous ayez tapé l’adresse (URL) incorrectement.<br>

                            <div class="button">
                                <a href="{{ path('home') }}">Retourner sur la page d'accueil</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br><br>
{% endblock %}
