{% extends "base-backoffice.html.twig" %}

{% block body %}
    {% if change is defined %}
<div>Rôle assigné : {{ role [0]}}<br>
    Stylise moi stpppp!</div>
{% elseif notchange is defined %}
        {% form_theme formChangeRole 'bootstrap_4_layout.html.twig' %}
        {{ form(formChangeRole) }}
{% endif %}

{% endblock %}
