{% extends "base-email.html.twig" %}
{% block body %}
 <h1>Confirmation inscription sur liste d'attente</h1>
    <p>Bonjour {{ prenom }} {{ nom }},<br>

        Votre demande a bien été pris en compte.
        Lorsqu'une session de recrutement sera ouverte,
        vous recevrez un email avec un lien sur lequel entrer vos données (CV, LM etc..)
        afin de participer à une réunion d'information, tests et entretien.</p>
{% endblock %}