{% extends "base-email.html.twig" %}

{% block body %}
    <h1>Redefinition du mdp</h1>
    <i>Nom d'utilisateur: {{ username }}</i><br>
    <i>Email du compte: {{ email }}</i><br>
    <i>URL: {{ url }}</i>
    <p>cliquer sur le lien ci-dessous pour renouveler votre mdp:</p>
    <a href="{{ url }}">Clic ici</a>
{% endblock %}